@page "/"

@using daedalus.Shared.Model

@inject daedalus.Client.Services.API API

<input type="button" class="btn btn-primary" value="Refresh" @onclick="Refresh" />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Logged At</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Pressure</th>
            <th>Altitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var condition in conditions)
        {
            <tr>
                <td>@condition.LoggedAt</td>
                <td>@condition.DegreesCelsius</td>
                <td>@condition.HumidityPercentage</td>
                <td>@condition.PressureMillibars</td>
                <td>@condition.AltitudeCentimeters</td>
            </tr>
        }
    </tbody>
</table>


@code {

    private List<Condition> conditions { get; set; } = new List<Condition>();

    protected override async Task OnParametersSetAsync()
    {
        long end = DateTime.UtcNow.Ticks;
        long start = DateTime.UtcNow.AddHours(-4).Ticks;

        conditions = await API.SearchConditions(start, end);
    }

    async public Task Refresh()
    {
        long end = DateTime.UtcNow.Ticks;
        long start = DateTime.UtcNow.AddHours(-4).Ticks;

        conditions = await API.SearchConditions(start, end);
    }

}

